@font-face {
  src: url('./fonts/adultswim.ttf');
  font-family: adultswim;
}

@font-face {
  src: url('./fonts/rickandmorty.ttf');
  font-family: rickandmorty;
}

@font-face {
  src: url('./fonts/getswifty.ttf');
  font-family: getswifty;
}

body {
  margin: 0;
  padding: 0;
  font-family: adultswim;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand{
  font-family: getswifty;
  font-weight: bold;
  font-size: 2em;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border: none !important
}

.navbar-nav>li>a{
  font-size: 18px;
}

.navbar{
  padding: 10px 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='%23000' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h12M4 15h18M4 23h14 '/></svg>");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  max-width: 100%;
}

.thumbnail{
  margin: 15px auto;
  border-radius: 15px !important;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
}

.thumbnail>img{
  border-radius: 15px !important;
  width: 100%;
}



.char-link{
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  color: #161743;
}

.page-btns{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.page-btns>button{
  background-color: #33333333;
  padding: 5px 10px;
  border: 0;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
  border-radius: 10px;
}

@media only screen and (max-width: 768px){
  .navbar-brand{
    font-size: 1.5em;
  }
}